<ol>
  <li *ngFor="let hour of hours">{{hour | number:'2.0-0'}}:00</li>
</ol>

<div>
  <div>
    <scheduler-day *ngFor="let day of days"
                   [hours]="hours"></scheduler-day>
  </div>

  <div #container
       (mousedown)="onMouseDown($event)"
       (touchstart)="onTouchStart($event)">
    <scheduler-event *ngFor="let event of events"
                     [event]="event"
                     (resize)="startResizingEvent(event)"
                     (move)="startMovingEvent(event, $event)">
    </scheduler-event>
  </div>
</div>
