$primary-line: 1px solid rgba(0, 0, 0, 0.2);
$secondary-line: 1px solid rgba(0, 0, 0, 0.1);
:host {
  flex: 1;
  margin: 8px;
  min-height: 500px;
  border-left: $primary-line;
  border-top: $primary-line;
  display: flex;
  &.resizing,
  &.moving {
    user-select: none;
  }
  &.resizing {
    cursor: ns-resize;
  }
  &.moving {
    cursor: move;
  }
  >div {
    flex: 1;
    position: relative;
    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

ol {
  margin: 0;
  padding: 0;
  border-right: $primary-line;
  display: flex;
  flex-direction: column;
  list-style: none;
  li {
    flex: 1;
    border-bottom: $primary-line;
  }
}

ol.hours {
  width: 50px;
  li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
    padding: 2px;
    overflow: hidden;
  }
}

.grid {
  display: flex;
  ol {
    flex: 1;
    li {
      display: flex;
      flex-direction: column;
    }
  }
  span {
    flex: 1;
    &:first-child {
      border-bottom: $secondary-line;
    }
  }
}
