$primary-line: 1px solid rgba(0, 0, 0, 0.2);
:host {
  flex: 1;
  margin: 8px;
  min-height: 500px;
  border-left: $primary-line;
  border-top: $primary-line;
  display: flex;
  &.resizing,
  &.moving {
    user-select: none;
  }
  &.resizing {
    cursor: ns-resize;
  }
  &.moving {
    cursor: move;
  }
  /deep/ {
    ol {
      margin: 0;
      padding: 0;
      border-right: $primary-line;
      display: flex;
      flex-direction: column;
      list-style: none;
      li {
        flex: 1;
        border-bottom: $primary-line;
      }
    }
  }
}

ol {
  width: 50px;
  li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
    padding: 2px;
    overflow: hidden;
  }
}

div {
  flex: 1;
  display: flex;
}
