<ol class="hours">
  <li *ngFor="let hour of hours">{{hour | number:'2.0-0'}}:00</li>
</ol>

<div>
  <div class="grid">
    <ol *ngFor="let day of days">
      <li *ngFor="let hour of hours">
        <span></span>
        <span></span>
      </li>
    </ol>
  </div>

  <div #eventsContainer
       (mousedown)="onMouseDown($event)"
       (touchstart)="onTouchStart($event)">
    <scheduler-event *ngFor="let event of events"
                     [event]="event"
                     (resize)="startResizingEvent(event)"
                     (move)="startMovingEvent(event, $event)">
    </scheduler-event>
  </div>
</div>
